<footer>
  <p>KAKA LITTER</p>
  <p>CONTACT@KAKA-LITTER.COM</p>
  <p>
    <%= link_to legal_path do %>
      LEGAL TERMS
    <% end %>
  </p>
  <%= link_to "https://www.facebook.com/kakalitiere/", target: :blank do %>
    <%= image_tag("facebook.svg", width: '30', height: '30', class: 'center') %>
  <% end %>
  <%= link_to "https://www.instagram.com/kaka.litiere/", target: :blank do %>
    <%= image_tag("instagram_reverse.svg", width: '30', height: '30', class: 'center') %>
  <% end %>
</footer>
