<h1>Fill in your order information</h2>

<div class="modal">
  <div class="button-container">
    <button class="close-modal">Close</button>
  </div>
  <h1>Add an address</h1>
  <%= simple_form_for @shipping_address, remote: true do |f| %>
  <div class="form-inputs" style="width: 600px; margin: 0px auto">
    <%= f.input :designation %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Add Address" %>
  </div>
  <% end %>
</div>

<%= simple_form_for @order do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs" style="width: 600px; margin: 0px auto">
    <%= f.association :shipping_address, collection: @shipping_addresses, label_method: :designation, include_blank: false, as: :radio_buttons %>
    <button class="open-modal">+ Add an address</button>
    <%= f.label "Additional details" %>
    <%= f.input :observations, label: false %>
  </div>
  <br>
  <% @products.each_with_index do |product, index| %>
    <%= f.simple_fields_for "order_details" do |order_detail| %>
    <div class="products-container">  
        <div class="product">
          <div class="product-element">
            <div class="product-image">
              <%= image_tag "#{product.normalized_designation}.png" %>
            </div>
            <div class="product-specs">
              <h2><%= product.designation %></h2>
              <p data-unit-price="<%= product.unit_price %>" class="price">Unit price: <b>$<%= product.unit_price %></b></p>
              <div class="qty-selector">
                <button class="button-left button-left-<%= index %>">-</button>
                <%= order_detail.input :quantity, as: :integer, label: false, readonly: true, input_html: {value: params[:order][:order_details_attributes][index.to_s][:quantity]} %>
                <button class="button-right button-right-<%= index %>">+</button>
              </div>
            </div>
          </div>
          <%= order_detail.input :product_id, as: :hidden, input_html: {value: product.id} %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-actions">
    <p class="total-price center">Total Price: $<b data-total-price="0">0</b></p>
    <p class="price-note">Note: This standard price does not include any special reduction you may have. The final price will be sent to you in a proforma invoice shortly after you confirm your order.</p>
    <%= f.button :submit, "Confirm Order" %>
  </div>
<% end %>

<%= content_for(:after_js) do %>
  <script>

    $( document ).ready(function() {
      var total_price_tag = $(".total-price").find("b");
      var total_price = parseFloat(total_price_tag.data('total-price'));

      var price0 = parseFloat($(".product-specs").first().find('.price').data('unit-price'));
      var price1 = parseFloat($(".product-specs").last().find('.price').data('unit-price'));

      var qty0_input = $(".qty-selector").first().find(".order_order_details_quantity").find("input");
      var qty0 = qty0_input.val();

      var qty1_input = $(".qty-selector").last().find(".order_order_details_quantity").find("input");
      var qty1 = qty1_input.val();

      if (qty0 == 5) {
        $(".button-right-0").css("background-color", "grey");
        $(".button-right-0").css("border-color", "grey");
      }

      total_price = ((price0 * qty0) + (price1 * qty1)).toFixed(2);
      total_price_tag.data('total-price', total_price);
      total_price_tag.text(total_price);
    });

    $(".button-left-0").on("click", function (e) {
      e.preventDefault();

      var button = $(this);
      var qty_input = button.closest(".qty-selector").find(".order_order_details_quantity").find("input");
      var qty = qty_input.val();

      if (qty > 0) {
        var total_price_tag = $(".total-price").find("b");
        var total_price = total_price_tag.data('total-price');

        var price = parseFloat($(this).closest(".product-specs").find('.price').data('unit-price'));

        total_price = (total_price - price).toFixed(2);
        total_price_tag.data('total-price', total_price);
        total_price_tag.text(total_price);
      }

      if (qty > 1) {
        qty = parseFloat(qty) - 1;
        $(".button-right-0").css("background-color", "#ED1C24");
        $(".button-right-0").css("border-color", "#ED1C24");
      } else {
        qty = 0;
      }
      qty_input.val(qty);

    });

    $(".button-left-1").on("click", function (e) {
      e.preventDefault();

      var button = $(this);
      var qty_input = button.closest(".qty-selector").find(".order_order_details_quantity").find("input");
      var qty = qty_input.val();

      if (qty > 0) {
        var total_price_tag = $(".total-price").find("b");
        var total_price = total_price_tag.data('total-price');

        var price = parseFloat($(this).closest(".product-specs").find('.price').data('unit-price'));

        total_price = (total_price - price).toFixed(2);
        total_price_tag.data('total-price', total_price);
        total_price_tag.text(total_price);
      }

      if (qty > 1) {
        qty = parseFloat(qty) - 1;
      } else {
        qty = 0;
      }
      qty_input.val(qty);

    });

    $(".button-right-0").on("click", function (e) {
      e.preventDefault();

      var button = $(this);
      var qty_input = button.closest(".qty-selector").find(".order_order_details_quantity").find("input");
      var qty = qty_input.val();

      if (qty == "") {
        qty = 1
        qty_input.val(qty);

        var total_price_tag = $(".total-price").find("b");
        var total_price = parseFloat(total_price_tag.data('total-price'));

        var price = parseFloat($(this).closest(".product-specs").find('.price').data('unit-price'));

        total_price = (total_price + price).toFixed(2);
        total_price_tag.data('total-price', total_price);
        total_price_tag.text(total_price);
      } else if (qty == 4) {
        qty = 5;
        $(this).css("background-color", "grey");
        $(this).css("border-color", "grey");
        qty_input.val(qty);

        var total_price_tag = $(".total-price").find("b");
        var total_price = parseFloat(total_price_tag.data('total-price'));

        var price = parseFloat($(this).closest(".product-specs").find('.price').data('unit-price'));

        total_price = (total_price + price).toFixed(2);
        total_price_tag.data('total-price', total_price);
        total_price_tag.text(total_price);
      } else if (qty == 5 ) {
        qty == 5;
      }
      else {
        qty = parseFloat(qty) + 1;
        qty_input.val(qty);

        var total_price_tag = $(".total-price").find("b");
        var total_price = parseFloat(total_price_tag.data('total-price'));

        var price = parseFloat($(this).closest(".product-specs").find('.price').data('unit-price'));

        total_price = (total_price + price).toFixed(2);
        total_price_tag.data('total-price', total_price);
        total_price_tag.text(total_price);
      }
    });

    $(".button-right-1").on("click", function (e) {
      e.preventDefault();

      var button = $(this);
      var qty_input = button.closest(".qty-selector").find(".order_order_details_quantity").find("input");
      var qty = qty_input.val();

      if (qty == "") {
        qty = 1;
      } else {
        qty = parseFloat(qty) + 1;
      }

      qty_input.val(qty);

      var total_price_tag = $(".total-price").find("b");
      var total_price = parseFloat(total_price_tag.data('total-price'));

      var price = parseFloat($(this).closest(".product-specs").find('.price').data('unit-price'));

      total_price = (total_price + price).toFixed(2);
      total_price_tag.data('total-price', total_price);
      total_price_tag.text(total_price);
    });

    $(".open-modal").on("click", function (e) {
      e.preventDefault();
      $(".modal").show();
    });

    $(".close-modal").on("click", function (e) {
      e.preventDefault();
      $(".modal").hide();
    });
  </script>
<% end %>
