<h1>Fill in your order information</h2>

<%= simple_form_for @order do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="width: 600px; margin: 50px auto">
    <%= f.association :shipping_address, collection: @shipping_addresses, label_method: :designation, include_blank: false %>
    <%= f.input :observations %>
  </div>
  <br>
  <% @products.each_with_index do |product, index| %>
    <%= f.simple_fields_for "order_details" do |order_detail| %>
    <div class="products-container">  
        <div class="product">
          <div class="product-element">
            <div class="product-image">
              <%= image_tag "#{product.designation}.png" %>
            </div>
            <div class="product-specs">
              <h2><%= product.designation %></h2>
              <p class="price">Unit price: <b>$<%= product.unit_price %></b></p>
              <div class="qty-selector">
            <button class="button-left">-</button>
            <%= order_detail.input :quantity, as: :integer, label: false %>
            <button class="button-right">+</button>
          </div>
            </div>
          </div>
          <%= order_detail.input :product_id, as: :hidden, input_html: {value: product.id} %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-actions">
    <p class="total-price">Total Price: $<b>75</b></p>
    <%= f.button :submit, "Confirm Order" %>
  </div>
<% end %>
