<h1>Krazy Kat Litter</h1>
<div class="home-3-pics">
  <div>
    <%= image_tag('box_of_176_oz.png', height: 200, class: 'center') %>
    <p class="center"><b class="description"><%= @box.designation %></b><br>$<%= @box.unit_price %></p>
  </div>
  <div>
    <%= image_tag('kaka_kat.png', width: 250, class: 'center') %>
  </div>
  <div>
    <%= image_tag('display-box_of_6_boxes.png', height: 200, class: 'center') %>
    <p class="center"><b class="description"><%= @display_box.designation %></b><br>$<%= @display_box.unit_price %></p>
  </div>
</div>
<p class="center"><b>Kaka</b>: French word for poop.<br><i>Synonyms: number two, dung.</i></p>
<div class="order-button-div">
  <%= link_to shop_path do %>
    <button class="order-button">Go to e-Shop</button>
  <% end %>
</div>
<h1>KAKA - The Concept</h1>
<p>KAKA is astounding, uncompromising and exacting,
it doesn’t claim to be anything other than
what it is.</p>
<p>KAKA is nothing but cat litter, opting for a clearcut
and <b>ultra-natural ethical positioning</b> rather than
generalisations.</p>
<p>KAKA, unlike the competitors’ traditional products,
is quite simply:</p>
<ul>
  <b>
    <li>Different</li>
    <li>Fun</li>
    <li>Cheeky</li>
    <li>Natural and free of hang-ups.</li>
  </b>
</ul>
<p><b>After all, why pussyfoot around?</b></p>
<h1>Who manufactures KAKA ?</h1>
<p>We are a <b>family-owned company</b>.<br>We have been mainly <b>extracting minerals since
1927</b>.<br>We are <b>passionate</b> about what we do.</p>
<p>We look for <b>simple solutions</b> and control our
entire value chain.</p>
<p>At the heart of commitment you will find
the use of a <b>process that recovers essential
components from minerals</b> and the assurance
of <b>responsible production</b>: reliable, low-carbon
footprint and <b>bio-compatible</b>.</p>
<h1>Where does Kaka come from ?</h1>
<p><b>Normandy</b>. KAKA “Krazy Kat Litter” is produced
at our site from clay that is rigorously selected
<b>in our quarries</b>.</p>
<%= image_tag('france_map.png', width: 300, class: 'center') %>
<h1>KAKA’s advantages</h1>
<p>“KAKA, Krazy Kat Litter ” is competitive in terms
of its price and specific qualities:</p>
<ul>
  <li>Clumping</li>
  <li>Absorbent</li>
  <li>Odorless</li>
  <li><b>100% mineral</b>, natural, free of chemical additives</li>
  <li><b>Soft and light</b> because of its tighter and more
compact grain size</li>
  <li>Stays <b>dry on the surface</b></li>
  <li>Attractive <b>beige colour</b></li>
  <li>Sold in 176 oz <b>boxes</b>.</li>
</ul>
<h1>The conditioning of KAKA</h1>
  <%= image_tag('box_of_176_oz.png', width: 150, class: 'center') %>
  <ul><li>Each box <b>contains 176 oz</b> of litter.</li></ul>
  <%= image_tag('display-box_of_6_boxes.png', width: 150, class: 'center') %>
  <ul><li>Each display-box contains <b>6 boxes</b> of litter.</li></ul>
<div class="order-button-div">
  <%= link_to shop_path do %>
    <button class="order-button">Go to e-Shop</button>
  <% end %>
</div>
<%= render partial: 'shared/footer' %>
