<%= form_tag new_order_path, method: :get do %>
  <!-- PRODUCT CONTAINER -->
  <div class="products-container">
    <% @products.each_with_index do |product, index| %>  
      <div class="product">
        <div class="product-element">
          <div class="product-image">
            <%= image_tag "#{product.designation}.png" %>
          </div>
          <div class="product-specs">
            <h2><%= product.designation %></h2>
            <ul>
              <% product.features.each do |feature|  %>
                <li><%= feature %></li>
              <% end %>
              <li class="price">Unit price: <b>$<%= product.unit_price %></b></li>
            </ul>
          </div>
        </div>
        <div class="qty-selector">
          <button class="button-left">-</button>
            <input type="number" name="order[order_details_attributes][<%= index %>][quantity]" value="0">
          <button class="button-right">+</button>
        </div>
      </div>
      <input type="hidden" name="order[order_details_attributes][<%= index %>][product_id]" value="<%= product.id %>">
    <% end %>
  </div>
  <div class="order-button-div">
    <button class="order-button">Order Now</button>
  </div>
<% end %>
<!-- DESCRIPTION -->
<h1>Krazy Kat Litter</h1>
<p>
  KAKA is nothing but cat litter, opting for a <b>clear-cut</b> and <b>ultra-natural</b> ethical positioning rather than a generic product.
</p>
<h1>Who are we?</h1>
<p>
  We are a <b>family-owned company</b> based in <b>Normandy, France</b>. We have been mainly extracting minerals <b>since 1927</b>.
</p> 
<p>
  We are passionate about what we do and always looking for <b>simple solutions</b>. We are committed to use a process that recovers essential components from minerals, assuring a <b>responsible production</b>:
</p>
<div class="list-div">
  <ul class="paragraph">
    <li>reliable</li>
    <li>low carbon-footprint</li>
    <li>bio-compatible</li>
  </ul>
</div>
<%= image_tag("france_map.png", width: '300', height: '300', class: 'center') %>
<footer>
  <p>KAKA LITTER — 202-555-0154</p>
  <p>CONTACT@KAKA-LITTER.COM</p>
  <p>LEGAL TERMS</p>
</footer>